@font-face {
  font-family: "Oswald";
  font-style: normal;
  src: url("../../public/fonts/Oswald-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  src: url("../../public/fonts/Oswald-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  src: url("../../public/fonts/Oswald-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  src: url("../../public/fonts/Oswald-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../../public/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../../public/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
